
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.p{
  margin-top: 10px;
}

.card-gallery {
  border: 1px solid grey;
  padding:2%;
}
.container-gallery{
  
  margin-right: 5%;
  margin-left: 5%;
  font-family: "Satisfy";
  text-align:center;
}
@media only screen
and (max-device-width : 800px )
and (max-device-height: 800px){
  .container-gallery{ margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
  font-family: "Satisfy";
  text-align:center;}
}