<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<% include commonHeadElements.html %>
	
	<link rel="stylesheet" type="text/css" href="/static/styles/styleAboutUs.css">
</head>
<body>
<%include header.html %>
<div class="container-aboutus">
<h1 class="font-a1">about us</h1>
<div class="row">
	<div class="col-md-8">
		<h2 style="color:red;font-family: jokerman;text-align: center">Let the party begin!!!</h2>
		<img src="/static/images/party-aboutus.jpg" style="width:90%;height:80%">
	</div>
	<div class="col-md-4">
		<div class="aboutus-heading">
			<h3 class="font-a1"> about FiestaTemps</h3>
		</div>
	<div class="aboutus-content">	
    <div class="scrollbar" id="style-2">
      <div class="force-overflow">
			<p> Fiestatemps.com is a new startup, came into existence in 2017, to provide a solution to organising events.</p>
			<p>The idea of Fiesta Temps was proposed during the summer training programme at GLA University.</p>
			<p>It provides a solution to book resorts and hotels for different purposes without actually visiting to venues.</p>
			<p>Now, u can book venues according to your need in just few clicks.</p>
			<p>fiestatemps.com could be a business design around a top quality service and a great quality product.</p>
			<p>This site not only works for business making but also for dream making.
Many of the special occasions you celebrate are once during a lifetime event-therefore we ensure to provide you great services and make it a rememberence.
We understand your emotional attachment for your dream occasions and here we work to make it a dream come true.</p>
<p>It gives you service to book a venue of your interest.
We give you functionality to search for resorts according to date and location.
fiestatemps.com is a complete solution to book resorts and hotels for any event.</p>
<p>Have a happy event...</p>

			</div>
    </div>
	</div>
	</div>
</div>












</div>
<% include footer.html %>
</body>
</html>