
<div class="container" style="font-family:'Raleway', sans-serif;margin-top: 10%">
   <div style="background-color: transparent;padding-top: 1%;padding-bottom:1%;padding-right: 5%;padding-left: 5%;"">
    <div class="row">
       <div class="col-md-4 dis" style="border-right: 1px solid #DBDBDB;" >
             <div style="margin-top: 3%; margin-bottom: 1%;">
                <div style="margin-bottom: 1%;">
                   <div class="rule" style="border-bottom: 1px solid #DBDBDB;"></div>
             </div>
            </div>
            <div class="nim ">
               <ul style="list-style-type: none">
                   <h4 >24/7 Customer Support</h4><br>
                   <li>If you need help while registering your resort or booking it, contact us at our number: 9506797346</li>
               </ul>
            </div>
         </div>     
        <div class="col-md-4 dis" style="border-right: 1px solid #DBDBDB;">
        <div style=" margin-top: 3%;margin-bottom: 1%;">
                <div style="margin-bottom: 1%;">
                   <div class="rule" style="border-bottom: 1px solid #DBDBDB;"></div>
             </div>
            </div>
            <div class="nim">
               <ul style="list-style-type: none">
                   <h4 >Verified Resorts</h4><br>
                   <li>You can easily go through any Venue and book it because our team personally visits and authenticates them.</li>
               </ul>
            </div>
        </div>
        <div class="col-md-4 dis" >
        <div style=" margin-top: 3%;margin-bottom: 1%;">
                <div style="margin-bottom: 1%;">
                   <div class="rule" style="border-bottom: 1px solid #DBDBDB;"></div>
             </div>
            </div>
            <div class="nim">
               <ul style="list-style-type: none">
                   <h4 >1000+ Happy Customers</h4><br>
                   <li>We have already more than thousand happy customers and are ready to increase this number.</li>
               </ul>
            </div>
         </div>
    </div>
</div>

<div style="margin-bottom: 1%;">
           <div style="margin-bottom: 1%;">
               <div class="rule" style="border-bottom: 1px solid #DBDBDB;"></div>
            </div>
</div>
<div class="container" style="font-family:'Raleway', sans-serif";>
  <footer role="contentinfo">
      <div style="background-color: transparent;padding-top: 3%;padding-bottom: 4%;padding-right: 5%;padding-left: 5%;"">
        <div class="row">
    	    <div class="col-md-3 dis"><a href="/app/home">
    	 	 <img src="/static/images/logo.png" style="height:auto;width: 60%;">
         </a>
    	    </div>
    	    <div class="col-md-3 nim dis">
    	 	<ul style="list-style-type: none;">
                       <h4>NAVIGATE<br></h4><br>
                       <li><a href="/app/home">&nbspHOME</a></li>
                       <li><a href="/app/aboutus">&nbspABOUT US</a></li>
                       <li><a href="/app/ourteam">&nbspOUR TEAM</a></li>
                       <li><a href="/app/faq">&nbspFAQ's</a></li>
                       
            </ul>
    	    </div>
    	    
    	    <div class="col-md-3 col-xm-6 nim">
    	 	<ul style="list-style-type: none;">
                          <h4 >&nbsp&nbspCONTACT US</h4><br>
                         <li>INFO@FIES.COM</li>
                         <li>9453874663</li>
                         <li>Gla University,Mathura</li>
                         <li>281406</li>
            </ul>
    	    </div>
    	    <div class="col-md-3 col-xm-6">
    	    
    	 	<ul style="list-style-type: none;" class="nim">
                          <h4 style="padding-left: 5%;" >FACILITIES</h4><br>
                         <li><a href="/app/home">&nbspBook a Resort</a></li>
                         <li><a href="#becomeHost" data-toggle="modal">&nbspBecome a Host</a></li>
            </ul>
    	    </div>
        </div>
        <div style="margin-top: 3%; margin-bottom: 3%;">
           <div style="margin-top: 3%; margin-bottom: 3%;">
               <div class="rule" style="border-bottom: 1px solid #DBDBDB;"></div>
            </div>
        </div>
        <div class="row ">
           <div class="col-md-12 col-sm-12 col-xm-12 colmd nim">

          
           
                  <!--  <div style="float: left;display: inline-block;">-->
                    <a href="#"><span class="fa fa-instagram fa-2x foot"></span></a>
                    <a href="#"><span class="fa fa-facebook-square fa-2x foot"></span></a>
                     <a href="#"><span class="fa fa-twitter-square fa-2x foot"></span></a>
                     <a href="#"><span class="fa fa-google-plus fa-2x foot"></span></a>
                    <span style="font-size: 20px;float:right">© FiestaTemps </span>

           	      <!-- </div> -->
           </div>
        	
        </div>
	 </div>
  </footer>
	
</div>