

<html>


<head>
<title> Gallery</title>
<% include commonHeadElements.html %>
<link rel="stylesheet" type="text/css" href="/static/styles/gallery2.css">
<script src="/static/scripts/gallery2.js"> </script>

</head>


<body>
<% include header.html %>
<div class="container-gallery2">
<h1> <%= images[0].rname %> Gallery</h1><hr>
<h3 style="font-family: Satisfy"> Images </h3>

  <div class="row">
 <% var count=0 %>
  <% for(var i in images){ %>
  <% count++ %>
  
  <div class="col-md-3">
  <div id="img-container">  
  <img src="<%= images[i].url %>" class="card-gallery2" alt="<%= images[i].url %>">
   </div>
  </div>
 
  <!--<img src="" class="card img-responsive">-->
  <% } %>
 
  <% if(count==0){ %>
  <p>No Images found </p>
  <% } %>
   </div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog-gallery2">

    <!-- Modal content-->
    <div class="modal-content-gallery2">
    <button type="button" class="close" data-dismiss="modal" style="color: white;font-size: 50px">&times;</button>
    
      <div class="modal-body-gallery2">
       
      </div>
    </div>

  </div>
</div>


</div>


</body>
<% include footer.html %>
</html>