<!DOCTYPE html>
<html>
 <head><title>Gallery</title>
 <% include commonHeadElements.html %>
<link rel="stylesheet" type="text/css" href="/static/styles/gallery.css">
 <script type="text/javascript" src="/static/scripts/gallery.js"></script>  
</head>



<body>
<% include header.html %>

<div class="container-gallery">

<h1>Gallery</h1>
<hr>

<div class="row">
<% for (var i in booking){ %>
  <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 1%;margin-bottom: 1%"> 
       <a href="/app/gallery/<%= booking[i].rid %>" style="text-decoration: none; color:black"><div class="card-gallery">
         <img src="<%= booking[i].url %>" style="height:180px;width:265px" class="hover-shadow cursor">  <p style="font-size: 20px;margin-top: 2%"><%= booking[i].rname %></p>
        </div> </a>
   </div>
<% } %>
</div>
</div>
</div>

<% include footer.html %>
</body>
</html>

