<html>
<head>

<title>Our Team</title>
<% include commonHeadElements.html %>

<link rel="stylesheet" type="text/css" href="/static/styles/ourteam.css">



</head>
<body>
<% include header.html %>
<h1 style="text-align: center;margin-bottom: 5%;margin-top: 5%">Our Team</h1>

<div class="container">
<div class="row">
<div class="col-md-4">

<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="/static/images/hochi.png">
    </a>

    <!-- the username -->
    <h1>Divyansh Gupta</h1>

    <!-- and role or location -->
    <h2>- Full Stack Web Developer -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
      <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">

    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>

    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>

    <!-- add or remove social profiles as you see fit -->

  </ul>

</aside>

</div>


<div class="col-md-4">
    

<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="/static/images/mai.png">
    </a>

    <!-- the username -->
    <h1>Harshita Rastogi</h1>

    <!-- and role or location -->
    <h2>- Full Stack Web Developer -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
      <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">

    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>

    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>

    <!-- add or remove social profiles as you see fit -->

  </ul>

</aside>



</div>
<div class="col-md-4">
    
<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="/static/images/nimbu.jpeg">
    </a>

    <!-- the username -->
    <h1>Nimesh Srivastava</h1>

    <!-- and role or location -->
    <h2>- Full Stack Web Developer -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
      <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">

    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>

    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>

    <!-- add or remove social profiles as you see fit -->

  </ul>

</aside>


</div>
</div>

</div>



<div class="container " style="margin-top: 5%;margin-bottom: 30%">
<div class="row">
<div class="col-md-6">
<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="/static/images/pari.jpg">
    </a>

    <!-- the username -->
    <h1>Pratishtha Dixit</h1>

    <!-- and role or location -->
    <h2>- Full Stack Web Developer -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
      <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">

    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>

    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>

    <!-- add or remove social profiles as you see fit -->

  </ul>

</aside>




    


</div>



<div class="col-md-6">
<aside class="profile-card">

  <header>

    <!-- here’s the avatar -->
    <a href="https://tutsplus.com">
      <img src="/static/images/pintu.jpeg">
    </a>

    <!-- the username -->
    <h1>Prashant </h1>

    <!-- and role or location -->
    <h2>- Full Stack Web Developer -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
      <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">

    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>

    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>

    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>

    <!-- add or remove social profiles as you see fit -->

  </ul>

</aside>


</div>
</div>
</div>


</body>

</html>