<!DOCTYPE html>
<html lang="en">
<head>
<title>Search by Date</title>
  <% include commonHeadElements.html %>
  <link rel="stylesheet" type="text/css" href="/static/styles/stylebookings.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/Search.css">
</head>

<body>
  <% include header.html %>
  <div style="font-family:'Raleway', sans-serif;">
    <div class="container-fluid container-fluid-search">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 style="color: white"><i>Search Your Date</i></h2>
          <div id="custom-search-input">
            <div class="row">
              <form action="/app/searchbydate" method="post">
                <div class=" col-md-11 col-sm-10 col-xs-10">
                  <input type="date" class="search-query form-control" placeholder="Search" name="searchdate" id="date_control" />
                </div>
                <div class="col-md-1 col-sm-2 col-xs-2">
                  <button class="fa fa-search" type="submit" style="color: white;font-size: 200%;background-color: #d50000"></button>     
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix search-page" >
        <% if(bookings){ %>
        <h3 style="font-weight: bold">Event venues in Mathura</h3>
        <% } else{ %>
        <h3 style="font-weight: bold;">Enter your desired Date above</h3>
        <% } %>
        <hr>
        <% for(var i in bookings){ %>
          <div class="list">
            <div class="row">
              <div class="col-md-4 col-sm-1 col-xs-1">
                <a href="/app/gallery/<%= bookings[i].rid %>">
                  <img src="<%= bookings[i].url %>" alt="<%= bookings[i].rname %>" class="image-search-container">
                </a>
              </div>
              <div class="col-md-8 col-sm-11 col-xs-11" id="content-display-search">
                <a href="/app/resort/<%= bookings[i].rid %>?date=<%= date %>" style="text-decoration: none"><h4 style="color: #B22222;"> <%= bookings[i].rname %> </h4></a>
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <span style="font-weight: bold">Location :</span><%= bookings[i].resortaddress %>
                  </div>
                  
                </div>
                
               
                <p><span style="font-weight: bold">Ratings :</span>
                  <% var ratings= bookings[i].rating %>
                  <% for(var j=0;j<ratings;j++){ %>
                  <span class="glyphicon glyphicon-star"></span>
                  <% } %>
                  <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
               <p>              
            <% if(bookings[i].ac==1){ %>
            <span class="label label-danger">AC</span>
            <% } %>
            <% if(bookings[i].parking==1){ %>
            <span class="label label-danger">Parking Area</span>
            <% } %>
            <% if(bookings[i].wifi==1){ %>
            <span class="label label-danger">WiFi</span>
            <% } %>
            <% if(bookings[i].DJ==1){ %>
            <span class="label label-danger">DJ & music</span>
            <% } %>
            <% if(bookings[i].nonveg==1){ %>
            <span class="label label-danger">Non-veg</span>
            <% } %>
            <% if(bookings[i].liquor==1){ %>
            <span class="label label-danger">Liquor License</span>
            <% } %>
            <% if(bookings[i].flowerdecor==1){ %>
            <span class="label label-danger">Flower Decorations</span>
            <% } %>
            <% if(bookings[i].catering==1){ %>
            <span class="label label-danger">In-House Catering</span>
            <% } %>
            <% if(bookings[i].rooms==1){ %>
            <span class="label label-danger">Rooms for Stay</span>
            <% } %>
            </p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="/app/resort/<%= bookings[i].rid %>?date=<%= date %>"><p>
                      <button class="btn-main btn-non-imp">View More >></button></p>
                      </a>
                    </div>
                  </div>
           
            
            
            
                
              </div>
        </div>
      </div>
      
      <% } %>
                
  
</div>  
</div> 
</div>

  <% include footer.html %>
 
</body>
</html>
